@font-face {
    font-family: "Inter";
    src: url("fonts/inter/inter.ttf");
}
body{
    font-family: "Inter";
    font-weight: 400;
}

#exploreHeader{
    width: 170px; 
    font-size: 18px; 
    padding: 15px; 
    border: 1px solid black;  
    border-radius: 27px; 
    text-align: center;
}

.main1{
    width: 95%; 
    margin: auto; 
    margin-top: 75px;
}

.header1{
    width: 90%; 
    height: 80px;
    margin: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#header1textline{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
    flex-grow: 1; 
    font-size: 14px;
}

#header1cart{
    width: 25px; 
    height: 25px;
    padding-inline: 20px;
}

#header2{
    width: 90%; 
    height: 550px; 
    margin: auto; 
    margin-top: 28px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #dce5e2; 
    border-radius: 20px;
}

#header2ArrowLeft{
    width: 5%;
    display: flex; 
    justify-content: center; 
}

.header2text{
    width: 40%;
}
.header2text1{
    font-size: 58px;
}
.header2text2{
    font-size: 16px; padding-block: 20px;
}

.header2pic{
    width: 50%;
    height: 100%;
    background-image: url('images/1 the/1.2 iphones.png'); 
    background-position: center;
    background-repeat: no-repeat;
}

#header2ArrowRight{
    width: 5%;
    display: flex; 
    justify-content: center; 
}

.header2contForRects{
    display: flex; 
    gap: 30px; 
    justify-content: center; 
    align-items: center; 
    height: 70px; 
    margin-top: -70px;
}

.header2rects{
    width: 15%; 
    height: 2px; 
    background-color: black;
}


.mainHeadText{
    width: 85%; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.mainHeadText._active{
    transform: translate(0px, 0px);
    opacity: 1;
}

.mainHeadTextBig{
    padding: 10px; 
    font-size: 42px; 
    text-align: center;
}
.mainHeadTextSmall{
    width: 40%;
    font-size: 14px; 
    text-align: center; 
}


.main1body{
    margin: auto; 
    margin-top: 50px; 
    width: 90%; 
    height: 792px; 
    display: grid; 
    grid-template-columns: calc(50% - 10px) calc(25% - 10px) calc(25% - 10px); 
    grid-template-rows: 60% 40%; grid-column-gap: 15px; 
    grid-row-gap: 40px;
}
.main1body>div{
    box-shadow: 0px 0px 15px 1px gray; 
}

.main1bodyBox1{
    padding-inline: 5%;    
}
.main1bodyBox2{
    grid-area: 1/2/3/3; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding-block: 40%;
}
.main1bodyBox3{
    grid-area: 1/3/3/4; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;  
    padding-block: 40%;
}
.main1bodyBox4{
    grid-area: 2/1/3/2; 
    margin-top: 20px; 
    padding-inline: 5%;
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#main1bodyBox1pic{
    width: 90%; 
    height: 80%; 
    background-image: url('images/2 shop/true.png'); 
    background-size: cover; 
    background-position: center;
}
#main1bodyBox2pic{
    height: 70%; 
    width: 100%; 
    background-image: url('images/2 shop/your.png'); 
    background-size: cover; 
    background-position: center;
}
#main1bodyBox3pic{
    height: 70%; 
    width: 100%; 
    background-image: url('images/2 shop/empower.png'); 
    background-size: cover; 
    background-position: center;
}
#main1bodyBox4pic{
    width: 70%; 
    height: 100%; 
    background-image: url('images/2 shop/not.png'); 
    background-size: cover; 
    background-position: center;
}

.main1bodyBox14text{
    width: 30%; 
    display: flex; 
    flex-direction: column; 
    justify-content: right;
}
.main1bodyBox23text{
    height: 30%; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}


.main2{
    width: 95%; 
    margin: auto; 
    margin-top: 150px;
}

.main2body{
    margin: auto; 
    margin-top: 50px; 
    width: 90%; 
    height: 396px; 
    display: flex; 
    gap: 20px;
}

.main2bodyBox{
    width: calc(25% - 15px); 
    height: 100%;
}
.main2bodyBoxPic{
    width: 100%; height: 70%; background-position: center; background-repeat: no-repeat;
}
.main2bodyBoxText{
    width: 100%; 
    height: 30%; 
    display: flex; 
    flex-direction: column;
}
.main2bodyBoxText1{
    font-size: 22px;
}
.main2bodyBoxText2{
    font-size: 14px; 
    padding-top: 7px; 
    flex-grow: 1;
}
.main2bodyBoxText3{
    font-size: 18px;
}


.main3{
    width: 95%; 
    margin: auto; 
    margin-top: 75px;
}

.main3body{
    width: 90%; 
    height: 453px; 
    margin: auto; 
    margin-top: 50px;
    display: flex; 
    gap: 2%;
}

.main3bodyBox{
    width: 32%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: #f8f9fa; 
    border-radius: 15px;
}

.main3bodyBoxText{
    width: 100%; 
    height: 50%; 
    display: flex; 
    flex-direction: column;
}
.main3bodyBoxTextSmall{
    font-size: 13px; 
    text-align: center; 
    margin-top: 50px;
}
.main3bodyBoxTextBig{
    font-size: 28px; 
    text-align: center; 
    padding: 10px;
}
.main3bodyBoxPic{
    width: 100%; 
    height: 50%; 
    background-position: center; 
    background-repeat: no-repeat;
}


.main4{
    width: 95%; 
    margin: auto; 
    margin-top: 75px;
}

.main4box{
    width: 90%; 
    height: 420px; 
    margin: auto; 
    margin-top: 50px; 
    display: flex; 
    gap: 2%;
}

#main4boxPic{
    width: 49%; 
    height: 100%; 
    background-image: url('images/5 ideas/book.png'); 
    background-position: center; 
    border-radius: 15px;
}

.main4boxText>div{
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-size: 24px;
}

.main4bottomText{
    margin-top: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}


.main5{
    margin-top: 75px;
}

#main5keyword{
    width: 50%; 
    height: 58px; 
    margin: auto; 
    background-color: #F8F9FA; 
    border: 1px solid #C5C5C5; 
    border-radius: 30px; 
    margin-block: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.main5keywordHints{
    width: 50%; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 7px;
}
.main5keywordHints>div{
    font-size: 14px; 
    text-align: center; 
    border: 1px solid #C5C5C5; 
    border-radius: 21px; 
    padding-block: 11.5px; 
    padding-inline: 20px;
}

#main5box{
    width: 75%; 
    margin: auto;
    margin-top: 65px; 
    background-color: #DCE5E2; 
    border-radius: 15px;
}

.main5boxTextBig{
    font-size: 42px; 
    text-align: center; 
    padding-bottom: 5px; 
    padding-top: 50px;
}
.main5boxTextSmall{
    margin: auto;
    font-size: 16px; 
    text-align: center;
    width: 80%;
}

.main5boxPic{
    width: 233px; 
    height: 200px; 
    margin: auto; 
    margin-block: 20px; 
    background-image: url('images/6 looking/1.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.main5boxSearch{
    width: 50%; 
    height: 48px;
    margin: auto;  
    display: flex;
    padding-bottom: 40px;
}

.main5boxSearchText1{
    width: 70%; 
    height: 100%; 
    border: 1px solid black; 
    border-radius: 25px 0px 0px 25px; 
    font-size: 14px; 
    display: flex; 
    align-items: center; 
    padding-left: 40px;
}
.main5boxSearchText2{
    width: 30%; 
    height: 100%; 
    border: 1px solid black; 
    border-radius: 0px 25px 25px 0px; 
    font-size: 14px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: black; 
    color: white;


}


#footerStyle{
    background-color: #F8F9FA; 
    margin-top: 20px;
}

.footerBox1{
    width: 90%; 
    padding-top: 60px; 
    padding-bottom: 80px; 
    display: flex;
    margin: auto; 
    gap: 20px;
}

.footerBox2{
    width: 95%; 
    margin: auto; 
    border-top: 1px solid #DCE5E2; 
    padding-top: 52px; 
    padding-bottom: 4px;
}

.footerBox1con1{
    width: calc(32% - 16px);
}
.footerBox1con2{
    width: calc(17% - 16px);
}

.footerBox1con1descrip{
    font-size: 16px; 
    padding-top: 15px;
    width: 70%;
}

.footerBox1con2text1{
    font-size: 22px; 
    padding-bottom: 20px; 
    font-weight: 500;
}
.footerBox1con2text2{
    font-size: 17px; 
    padding-bottom: 15px;
}

.footerBox2con{
    width: 94%; 
    margin: auto; 
    display: flex; 
    align-items: center;
    gap: 5px;
}

.footerBox2conText1{
    font-weight: 500; 
    font-size: 18px;
}
.footerBox2conText2{
    font-size: 18px;
}
.footerBox2conPic{
    margin-left: -5px; 
    margin-top: 3px;
}


.exploreMain3{
    width: 170px; 
    margin: auto;
    font-size: 18px; 
    padding: 15px; 
    border: 1px solid black;  
    border-radius: 27px; 
    text-align: center;
}



@media screen and (max-width: 900px){
    .header1{
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 10px;
    }
    #header1textline{
        gap: 20px;
    }
    #header1cart{
        padding-inline: 0px;
        padding-left: 10px;
    }

    .header2pic{
        display: none;
    }
    .header2text{
        padding-inline: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header2text1{
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }
    .header2text2{
        width: 70%;
        text-align: center;
    }
    .exploreHeader{
        margin: auto;
    }

    .mainHeadText{
        width: 100%;
    }
    .mainHeadTextSmall{
        width: 80%;
    }

    .main1body{
        height: auto;
        display: flex;
        flex-direction: column;
        grid-template-columns: none; 
        grid-template-rows: none; 
        grid-column-gap: none; 
        grid-row-gap: none;
        gap: 15px;
    }

    .main1bodyBox1{
        height: 400px;
    }
    .main1bodyBox2{
        height: 400px;
        grid-area: none; 
        padding-block: 0%;
    }
    #main1bodyBox2pic{
        width: 300px;
        margin: auto;
    }
    .main1bodyBox3{
        height: 400px;
        grid-area: none; 
        padding-block: 0%;
    }
    #main1bodyBox3pic{
        width: 300px;
        margin: auto;
    }
    .main1bodyBox4{
        height: 400px;
        grid-area: none; 
    }


    .main2{
        margin-top: 75px;
    }
    .main2body{
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
    .main2bodyBoxPic{
        width: 356px;
        margin: auto;
        background-size: auto;
    }
    .main2bodyBox{
        width: 100%; 
        height: 350px;
        /* background-color: #f8f9fa; */
        border-radius: 15px;
    }
    .main2bodyBoxText1, .main2bodyBoxText2, .main2bodyBoxText3{
        text-align: center;
    }


    .main3body{
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
    .main3bodyBoxPic{
        width: 356px;
        margin: auto;
        background-size: auto;
    }
    .main3bodyBox{
        width: 100%; 
        height: 350px;
        background-color: #f8f9fa;
        border-radius: 15px;
    }
    .main3bodyBoxTextSmall{
        margin-top: 10px;
    }

    
    .main4box{
        flex-direction: column;
        height: auto;
    }
    .main4boxPic{
        width: 356px;
        height: 250px;
        margin: auto;
        background-size: 100%;
        background-position: center;
    }


    .main5keyword{
        width: 80%;
    }
    .main5keywordHints{
        width: 100%;
    }
    .main5box{
        width: 90%;
        margin-top: 20px;
    }
    .main5boxTextBig{
        font-size: 35px;
        font-weight: 500;
        padding-top: 20px;
    }
    .main5boxSearch{
        width: 80%;
    }


    .footerBox1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .footerBox1con1{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footerBox1con1descrip{
        text-align: center;
    }
    .footerBox1con2{
        width: auto;
        height: auto;
    }
    .footerBox1con2text1{
        padding-bottom: 10px;
        text-align: center;
    }
    .footerBox1con2text2{
        padding-bottom: 5px;
        text-align: center;
    }
    .footerBox2{
        padding-block: 10px;
    }
    
}


@media screen and (max-width: 600px){
    .main3bodyBoxPic{
        width: 300px;
    } 
    .main2bodyBoxPic{
        width: 300px;
    }

    #main1bodyBox1pic{
        margin: auto;
        height: 300px;
    }
}